body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 70vh;
    left: 50vw;
  }

button#sim {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 60vh;
}
